
*{
  font-family: "Montserrat" ,sans-serif;


  .link{
    text-decoration: none;
    color: inherit;
  }

  .button{
    padding: 8px;
    border-radius: 4px;
    border: none;
    :hover{
      cursor: pointer;
      box-shadow: 2px 4px;
    }
  }

}