.myGigs{
    display: flex;
    justify-content: center;

    .container{
        width: 1440px;
        padding: 50px 0px;

        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;

            button{
                padding: 6px 18px;
                background-color: green;
                color: white;
                border: 1px solid green;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        table{
                width: 100%;
                border: none;
                
                
                tr{
                    height: 50px;
                

                    th{
                        text-align: left;
                    }

                    td{
                        .image{
                        width: 70px;
                        height: 35px;
                        object-fit: cover;
                    }

                    .delete{
                        width: 20px;
                        height: 20px;
                        object-fit: cover;
                    }

                    }

                    &:nth-child(even){
                        background-color: rgb(224, 242, 237);
                    }

                }
                
            }
            
    }
}