.Gig{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .container{
        width: 1400px;
        display: flex;
        justify-content: space-between;
        

        
        .left{
            display: flex;
            flex-direction: column;
        }

        .right{
            
            .billContainer{
                display: flex;
                flex-direction: column  ;
                gap:20px;
                border: 1px solid black;
            }
        }
    }

}